{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Réinitialiser mot de passe</h1>
        <form method="post">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Terminer
            </button>
        </form>
    </div>
{% endblock %}