{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="container login-form">
        <h1 class="mb-4">Réinitialiser mot de passe</h1>
        <form method="post">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="sr-only">Confirmer mot de passe</label>
                <input type="password" name="confirm_password" id="confirmPassword" class="form-control" placeholder="Confirmer mot de passe" required>

                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <button class="btn btn-primary" type="submit">
                Réinitialiser le mot de passe
            </button>
        </form>
    </div>
{% endblock %}