
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea
/_mac
/codestyles

baseRefactoring.xml
colors.scheme.xml
databaseDrivers.xml
databaseSettings.xml
debugger.xml
diff.xml
doctrine_migration_20190314124318.sql
filetypes.xml
find.xml
ide.general.xml
ui.lnf.xml