{% extends 'base.html.twig' %}
{% block title 'Home' %}

{% block body %}
    <div class="scrolling-box">
        <section id="section-1">
            <div class="container-hero">
                <div class="section-1">
                    <h1>Snowtricks</h1>
                </div>
            </div>
        </section>

        <section id="section-2">
            <div class="container">
                <h2>Les derniers tricks</h2>
                {% if app.user %}
                    <div class="mb-4">
                        <a href="{{ path('admin.tricks.new') }}" class="btn btn-primary">Ajouter un trick</a>
                    </div>
                {% endif %}
                <div class="row">
                    {{ include ('tricks/_list.html.twig', variables = [tricks]) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}