{% extends 'base.html.twig' %}
{% block title 'Home' %}

{% block body %}
    <div class="scrolling-box">
        <section id="1">
            <div class="container-hero">
                <img src="{{ asset('images/hero.jpg') }}" alt="test" class="img-responsive">
                <div class="carousel-caption" id="hero-title">
                    <h1>Snowtricks</h1>
                </div>
            </div>
        </section>

        <section id="2">
            <div class="container">
                <h2>Les derniers tricks</h2>
                {% if app.user %}
                    <div class="mb-4">
                        <a href="{{ path('admin.tricks.new') }}" class="btn btn-primary">Ajouter un trick</a>
                    </div>
                {% endif %}
                <div class="row">
                    {% for trick in tricks %}
                        {% include ('tricks/_list.html.twig') %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}