{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Editer le trick</h1>
        <div class="trick-form">
            {{  include('admin/tricks/_form.html.twig', {form: form, button: 'Editer'}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $('#trick_mediaImages').find('.form-group').hide();

    </script>
{% endblock %}