{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Ajouter un trick</h1>
        <div class="trick-form">
            {{  include('admin/tricks/_form.html.twig', {form: form, button: 'Créer'}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}