{% extends 'base.html.twig' %}
{% block title 'Liste des tricks' %}

{% block javascripts %}

    <script language = "javascript">
        $(document).ready(function(){
            $("#js-tricks").on("click", function(event){
                event.preventDefault();

                $.ajax({
                    url:        '/tricks/{page}',
                    type:       'POST',
                    dataType:   'json',
                    async:      true,

                    success: function(data) {
                        //must return table here
                    },

                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1> Liste des tricks</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% if app.user %}
            <div class="mb-4">
                <a href="{{ path('admin.tricks.new') }}" class="btn btn-primary">Ajouter un trick</a>
            </div>
        {% endif %}
        <div class="row" id="js-tricks">
            {% for trick in tricks %}
                {% include('/tricks/_list.html.twig') %}
            {% endfor %}
        </div>
        <a href="{{ path('trick.index') }}" id="js-btn" class="btn btn-info">Charger les 8 suivants...</a>
    </div>
{% endblock %}
