{% extends 'base.html.twig' %}
{% block title 'Détails du trick' %}

{% block body %}
<div class="container">
    <h1> Liste des tricks</h1>
    <div class="row">
        {% for trick in tricks %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}">{{ trick.title }}</a>
                        </h3>
                        <p class="card-text">{{ trick.content }}</p>
                        <p class="badge badge-pill badge-primary">{{ trick.category }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}