{% extends 'base.html.twig' %}
{% block title 'Liste des tricks' %}

{% block body %}

<div class="container">
    <h1> Liste des tricks</h1>
    <div class="row">
        {% for trick in tricks %}
            {% include('/tricks/_list.html.twig') %}
        {% endfor %}
    </div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(tricks) }}
    </div>
</div>
{% endblock %}